// Horizontal scroll
.project-container {
  overscroll-behavior: none;
  width: 600%;
  height: 100vh;
  display: flex;
  flex-wrap: nowrap;
}
.panel {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  box-sizing: border-box;
  padding: 10px;
  &.panel-quotes {
    background-color: pink;
  }
  &.panel-timeline {
    background-color: teal;
  }
  &.panel-conclusion {
    background-color: yellow;
  }
}